.container {
    max-width: 300px;
    height: 150px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;

    margin: 10px 0;
}

.avatar {
    flex-basis: 150px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;
}

.avatar img {
    align-self: center;
}

.avatar div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;
}
